.myBtn {
  margin: 0 3px;
  padding: 8px 15px;
  border-radius: 5px;
  background: none;
  border: 1px solid var(--green);
  font-size: 16px;
  font-weight: 400;
  color: var(--green);
  transition: 0.3s;
}
.myBtn:hover {
  color: white;
  background-color: var(--bg2);
}
