.myBtn {
  margin: 0 3px;
  padding: 8px 15px;
  border-radius: 5px;
  background-color: var(--bg3);
  border: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--fontColor);
  transition: 0.3s;
}
.myBtn:hover {
  color: white;
  background-color: var(--bg2);
}
