.card1 {
  min-width: 200px;
  max-width: 320px;
  background-color: var(--bg2);
  border-radius: 10px;
  padding: 12px;
  overflow: hidden;
  position: relative;
}
.bgImg {
  width: 100%;
  min-height: 250px;
  display: grid;
}
.bgImg img {
  object-fit: cover;
}
.personImg {
  min-width: 65px;
  min-height: 65px;
  max-width: 65px;
  max-height: 65px;
  position: absolute;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  border-radius: 50%;
  background: var(--bg2);
  border: 2px solid var(--border);
  overflow: hidden;
}
.personImg img {
  object-fit: cover;
}
.Cardfooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.Cardfooter > h5 {
  margin-bottom: -5px;
  color: var(--fontColor2);
  font-weight: 400;
  font-size: 1.1rem;
}
