.navWrapper {
  padding: 20px 0px;
}
.dfx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  color: var(--fontColor);
}
.logo > h3 {
  margin-bottom: 0px;
  margin-left: 5px;
}
.navRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .navRight {
    justify-content: center;
  }
}
