.homeWrapper {
  display: grid;
  grid-template-columns: 10fr 2fr;
}
.rightSection {
  min-width: 430px;
  max-width: 480px;
}
.banner {
  width: 100%;
  margin: 10px 0 30px 0;
  background: url("../assets/img/banner.png") center no-repeat;
  background-size: cover;
  border-radius: 7px;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 30px;
}
.banner > p {
  width: 40%;
  color: var(--fontColor2);
  font-size: 15px;
  margin-right: 50px;
}
.banner > h4 {
  width: 40%;
  color: var(--fontColor);
  font-size: 2.5rem;
  font-weight: 600;
}
.banner > h4 > span {
  color: #fb1390;
}
.title {
  color: var(--fontColor);
  font-weight: 600;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.viewAll {
  font-size: 1rem;
  font-weight: 200;
  color: var(--fontColor2);
  cursor: pointer;
  padding-right: 10px;
}
.topCollection {
  padding: 20px 0;
}
.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.titleFilters {
  display: flex;
  align-items: center;
  justify-content: center;
}
.titleFilters > li {
  list-style: none;
  margin-left: 10px;
  background: var(--bg2);
  color: var(--fontColor2);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.titleFilters > li:hover {
  background: rgba(0, 183, 255, 0.178);
  color: var(--blue);
}
@media (max-width: 768px) {
  .homeWrapper {
    display: inline-block;
  }
  .banner {
    flex-direction: column;
  }
  .banner > h4,
  .banner > p {
    width: 100%;
  }
  .banner > p {
    margin-right: 0;
    margin-top: 10px;
  }
  .rightSection {
    width: 84%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
