.header {
  width: 100%;
  display: grid;
}
.profilePic {
  width: 150px;
  margin: 0 auto;
  margin-top: -75px;
  border: 5px solid var(--bg);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.texts {
  width: 100%;
  text-align: center;
  padding: 65px 0 70px 0;
}
.texts > h2 {
  color: var(--fontColor);
}
.ico {
  color: var(--fontColor2);
  margin-top: 5px;
}
.ico > span {
  color: var(--blue);
}
.ering {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--fontColor2);
  width: 230px;
  margin: 0 auto;
  padding: 10px 0;
}
.ering > p > span {
  color: var(--fontColor);
}
.title {
  color: var(--fontColor);
  padding-bottom: 20px;
}
